@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

    <!-- Table Partial -->
    <partial name="/Pages/Courses/_CoursesTablePartial.cshtml" model="Model.Courses" />

    <!-- Add Course Section -->
    <div class="mt-4">
        <h2>Add New Course</h2>
        <partial name="/Pages/Courses/_AddCoursePartial.cshtml" model="Model.NewCourse" />
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
